* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1538;
  font-family: Arial, Helvetica, sans-serif;
  color: #0e1538;
}

/* header */

header {
  height: 70vh;
}

.header__nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.header__img,
.footer__img {
  width: 100%;
  height: 55vh;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s linear background-position;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Assets/last-of-us-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header__img:hover {
  background-position: bottom;
}

.header__img img {
  width: 5rem;
  transition: 0.15s linear width;
}

.header__img:hover img {
  width: 6.25rem;
}

.header__navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  list-style-type: none;
}

.header__nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 1.5rem;
}

/* main */

.movies {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 0.625rem;
  width: 15.625rem;
  height: 31.875rem;
}

.card .card__info {
  padding: 0 0.5rem;
}

.card__info p {
  margin: 0.75rem 0;
}

/* change "all" */
.card__img img {
  width: 100%;
  cursor: pointer;
  transition: 0.5s linear transform;
}

.card:hover .card__img img {
  transform: scale(1.1);
}

/* footer */

.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.footer__img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Assets/cillian-murphy.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.footer__img:hover {
  background-position: bottom;
}

.page-footer {
  padding: 1.5rem;
}

/* SearchBar */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.search-bar input {
  color: #171717;
  text-align: center;
}

.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}

.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}

.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  border: none;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}

.search-btn {
  background: #fff;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}

.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}

.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}

.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #0e1538;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}

.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0e1538;
}

.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }

  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    box-shadow: 0 0 0 0.1em #fff inset;
  }

  .search-btn {
    background: #f1f1f1;
  }
}

.radio-toggles {
  display: flex;
}

.radio-toggles label {
  margin-right: 1rem;
}

.radio-toggles input {
  margin-right: 0.3rem;
}
