* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1538;
  font-family: Arial, Helvetica, sans-serif;
  color: #0e1538;
}

header {
  height: 70vh;
}

.header__nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.header__img {
  height: 55vh;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* change all */
  transition: 0.15s linear all;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Assets/last-of-us-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header__navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  list-style-type: none;
}

.header__nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 1.5rem;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 0.625rem;
  width: 15.625rem;
  height: 31.875rem;
}

.card .card__info {
  padding: 0 0.5rem;
}

.card__info p {
  margin: 0.75rem 0;
}

/* change "all" */
.card__img img {
  width: 100%;
  cursor: pointer;
  transition: 0.5s linear transform;
}

.card:hover .card__img img {
  transform: scale(1.1);
}
